MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MYSQL_ROOT_PASSWORD=root
MYSQL_USER=hive
MYSQL_PASSWORD=hive

S3_REGION=ap-southeast-5
TZ=Asia/Kuala_Lumpur
TRINO_SHARED_SECRET=changeme
TRINO_ADMIN_PASSWORD=changeme

OPA_PORT=8181

DATAHUB_VERSION=v0.15.0
DATAHUB_ACTIONS_VERSION=v0.1.10
DATAHUB_CONFLUENT_VERSION=7.9.2
DATAHUB_MYSQL_PASSWORD=datahub
DATAHUB_GMS_PORT=8082
DATAHUB_FRONTEND_PORT=9002
DATAHUB_KAFKA_PORT=9092
DATAHUB_ZK_PORT=2181
DATAHUB_ELASTIC_PORT=9200
DATAHUB_SCHEMA_REGISTRY_PORT=8083
DATAHUB_MYSQL_PORT=53306
DATAHUB_SECRET=YouKnowNothing
DATAHUB_SERVER_TYPE=quickstart
DATAHUB_PRECREATE_TOPICS=false
DATAHUB_TELEMETRY_ENABLED=false
DATAHUB_SYSTEM_CLIENT_SECRET=changeme
DATAHUB_TOKEN_SERVICE_SIGNING_KEY=changeme
DATAHUB_TOKEN_SERVICE_SALT=changeme
